/* app css stylesheet */

$pink :#F24671;

body{
  background: #f3f3f3;
}
*{
  margin: 0;
  padding: 0;
  font-family: Lato;
  font-weight: 300;
  line-height: 1.5;
  color: #666;
  outline: none;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

#content {
  background-image: url("images/back.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 250px;
  text-align: center;
  background-position: 0 -120px;

  // button{
  //   padding: 10px 20px;
  // font-size: 32px;
  // line-height: 1.5;
  // text-align: center;
  // background: rgba(255, 255, 255, 0.7);
  // outline: none;
  // border: none;
  // border: 1px solid #ccc;
  // display: inline-block;
  // margin:auto;
  // margin-top: 40px;
  // margin-bottom: 20px;
  // color: #333;
  // background: $pink;
  // }

  h1.hero{
    font-weight: 400;
    color: #333;
    font-size: 36px;
    text-transform: uppercase;
    font-family: Montserrat;
  }

  input.splashText{
  padding: 10px 20px;
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  outline: none;
  border: none;
  border: 1px solid #ccc;
  display: block;
  margin:auto;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #333;
}

}

.box{
    background-color: $pink;
    width: 100%;
    padding: 20px;
    border: 0px;
    margin: 0px;
    text-align: center;
    color: #fff;

    p{
      color: #fff;
      margin-bottom: 0;
    }
    i.fa{
      color:#BF3A5B;
      margin-left: 2px;
      margin-right: 2px;
    }
}

.button {
background-color: #FFF;
}

.btn-info {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
  text-align: center;
  padding: 0px;
  border: 0px;
  margin: 0px;

}
span.pink{
  color: $pink;
  font-family: Montserrat;
}
button{
  padding: 0;
  border:0;
  background: transparent;      
}
.btnCustom{
  border-radius:4px;
  padding: 8px 20px;
  background:$pink;
  color: #fff;
  margin-top: 20px;
  border-bottom: 2px solid #B02044;
  font-family: Montserrat;
  font-size: 14px;
  text-transform: uppercase;
}
.btnCustom:hover{
  background: #F62459;
  color: #fff;
}
.btnCustom:active{
  background:#B02044;
  color: #fff;
}
.marginTop40{
  margin-top: 40px;
}
.how-it-works{
    background-color: #fff;
    width: 100%;
    border: 0px;
    margin: 0px;
    text-align: center;  
    padding: 60px 20px 80px 20px;

    h1{
      color: $pink;
      font-weight: 100;
      font-family: Montserrat;
      text-transform: uppercase;
    }
    h4{
      color: #999;
      font-weight: 300;
    }
    img{
      width: 80%;
      max-width: 100px;
    }
    p{
      width: 80%;
      max-width: 220px;
      margin: auto;
    }
    p.biggie{
      max-width: 1000px !important;
      text-align: justify;
      line-height: 1.5;
      font-size: 16px;
      margin-bottom: 20px;
    }
}

#step1{
  height: 100vh;
  width: 100vw;
  text-align: center;
  background: #F3F3F3;

  .dropBox{
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 250px;

    .text, .afterUpload{
      
    }

  }
  .dropBox.dragover{
    background: #000;
  }

}

.progressBar{
  width: 600px;
  margin: auto;
  border-radius: 10px;
  background:#fff;
  border:1px solid #eee;
  overflow: hidden;
  height: 10px;

  .bar{
    position: relative;
    width: 0;
    background: $pink;
    height: 10px;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    transition: all 2s ease;
  }
}

.filesPreview{
  max-width: 800%;
  width: 80%;
  background:#eee;
  margin: auto;
  margin-top: 20px;
  padding: 20px;

  .filePreview{

    img{
      height: 40px;
      margin-right: 5px;
    }

  }
}

.customForm{
  width: 80%;
  max-width: 800px;
  padding-top: 250px;
  padding-bottom: 400px;
  margin:auto;
  label, input{
    display: block;
    color: #ccc;
  }
  li, .current{
    color: #ccc;
    list-style: inherit;
  }
  label{
    font-size: 18px;
  }
  input{
    background: transparent;
    border:0;
    font-size: 32px;
  }
  .current label, .current{
    color: #666;
  }
  .current input{
    color: #111;
  }
  div.formField{
    margin-bottom: 150px;
  }
}

.notTypeForm{
  padding:200px 20px;
  text-align: center;

  input{
    background: transparent;
    font-size: 40px;
    outline: none;
    border:none;
    width: 710px;
  }
  ul{
    font-size: 32px;
    list-style: none;
    a{
      text-decoration: none;
      color: #ccc;
    }
  }
  .languages{
    margin-bottom: 40px;
    a{
      background: #ccc;
      padding: 8px 16px;
      cursor:pointer;
    }
    a:hover{
      background: #fff;
    }
    a.selected{
      background: $pink;
      color: #fff;
    }
  }
}

#step2 h1{
  text-align: center;
  color: #eee;
  background: $pink;
  margin-top: 0px;
  position: fixed;
  width: 100%;
  padding: 20px;
}

i.fa{
  color:$pink;
}


