$red: #f25f5c;
body {
  font-family: 'Lato';
  font-weight: 300;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  overflow-x:hidden;
  width:100%; 
}

.landing{

  #almari{

    margin-top: 15%;
    margin-bottom: 10%;
  }

  #login{
    margin-top: 10px;
    background-color: #f25f5c;
    border: #f25f5c;
    float:left;
  }

  .form-control{
    margin-top: 10px;
    width: 30%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
  }

  .form-control-fancy {
    margin-top: 10px;
    width: 25%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    display: block;
    height: 34px;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #ccc;
    transition: all 0.4s
  }

  .form-control-fancy:focus {
    outline: none;
    border-bottom: 3px solid #f25f5c;
  }
  .form-control-fancy::-webkit-input-placeholder {
    transition: all 0.4s;
    transform: translate(0px, 0px);
  }
  .form-control-fancy:focus::-webkit-input-placeholder {
    transform: translate(0px, 34px);
  }
  .login-container {
    display: block;
  }
  .login-buttons {
    position: absolute;
    left: 72px;
    top: 42px;
    width: 90%
  }
  .login-buttons .btn {
    margin: 0px 6px;
  }
  #inputConfirmPassword {
    display: none;
  }
  .form-error {
    color: #f25f5c;
    font-weight: 500;
    position: relative;
    top: 16px;
    left: 8px;
  }

  #alm{
    font-size: 6em;
    font-family: 'Mr De Haviland', cursive;
    color: #f25f5c;
  }

  #sub{
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    margin-top: -20px;
    font-weight: 700;
    color: #50514F;
  }

  .sec1{
    margin-right: -10%;
    margin-left: -10%; 
    padding-top: 1%;
    background-color: #f25f5c;
    color: white;
  }

  #toprow{
    margin-top: 5%;

  }
  .col-md-6{
    padding-top: 3em;
    padding-bottom: 2em;
  }
  #borrow{

    border-right: 1px solid white;
  }
  .box{
    border: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    text-align: center;
  }

  .col-md-4{
    margin: 0 auto;
    float: none;

  }

  .btn:hover{
    color: #F1F5F2;
  }

  .icon{
    margin-bottom: 1.5em;
  }
}

.btnPrimary{
  border-radius: 0;
  background-color: $red;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 10px;
}
.btnOutline{
  border-radius: 0;
  border:1px solid $red;
  background-color: transparent;
  color: $red;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 10px;
}
.btnOutline:hover{
  background:$red;
}
#postDress{
  margin-top: 80px;
  color:#333;
  overflow-x:hidden;
  .postPhoto{
    img{
      width:100%;
      min-height: 400px;
      background:#ccc;    

      @media (max-width: 768px) {
        min-height: auto;
        margin-bottom: 20px;
      }
    }
  }

  input{
    border:none;
    outline: none !important;
  }
  input:focus{
    border:none;
    outline: none !important;
  }
  
  .productNameHolder input{
    font-size: 1.5em;
  }
  .input{
    margin-bottom: 20px;
    input{
      padding:5px 0px;
      border-bottom: 1px solid #fff;
      @media (max-width: 768px) {
        padding:0px;
      }
    }
    input:focus{
      border-bottom: 1px solid #999;
    }

  }
  .productDetailsHolder{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    color:#777 !important;


    input{
      padding:5px;
      @media (max-width: 768px) {
        padding:5px 0px;
        margin-bottom: 10px;
      }
      border-bottom: 1px solid #fff;
    }
    input:focus{
      border-bottom: 1px solid #999;
    }
    input, .switch{
      display: inline-block;
      margin-right: 40px;
    }

    .switch{
      background:none;
      margin-left: 5px;
      border:transparent;
      @media (max-width: 768px) {
        width:120%;
        margin-left: 0;
        margin-bottom: 10px;
      }
      button{
        background: none;
        outline: none;
        border: none;
        border-right: 1px solid #777;
        width: 39px;
      }
      button:hover, button.active{
        background:#eee;
      }
      button.active{
        background:#ddd;
      }
      button:last-child{
        border:none;
      }
    }

    p{
      margin:0;
      text-transform: none;
    }
    textarea{
      width: 80%;
          font-size: 14px;
          padding: 20px;
          background-color: #eee;
          border: 0;
          font-weight: 400;
          color: #777;
          height: 114px;
    }
  }
  .Category{
    .switch{
      button{
        width:auto;
        padding:5px 10px;
        @media (max-width: 768px) {
          display:block;
          padding:5px 0;
          border:none;
          border-bottom: 1px solid #777;
          width:200px;
        }
      }
    }
  }
  .submit-product-error {
    color: $red;
    display: none;
    height: 30px;
    position: relative
  }
}

#borrow{
  margin-top: 80px;
  .question{
    h2{
      font-size: 1.5em;
      font-weight: 300;
      color:#333;
    }
  }
  .swatches{
    margin-top: 20px;
    .swatch{
      cursor: pointer;

      img{
        width:100%;
        cursor: pointer;

      }
    }
  }
}

#borrowDresses{
  margin-top: 80px;
  background:#f3f3f3;

  .dresses{
    .dress{
      margin-top: 40px;
    }
    p{
      text-align:center;
    }
  }
}


#pic {
   margin-left:7%; 
   float:left;
   margin-right: 5%;
 } 

#prodname{
  color: $red;
  margin-left: 10%;
  font-family: 'Lora', serif;
}


.prodB{
  margin-left: 10%;
}

#description{
  margin-right: 10%;

  text-align: justify;
}

.submit-product-error {
  color: $red;
  display: none;
  height: 30px;   
  position: relative
}
