$red: #f25f5c;
*{
  transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -ms-transition:0.2s ease all;
}
body {
  font-family: 'Lato';
  font-weight: 300;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  overflow-x:hidden;
  width:100%; 
}

.persistent-nav {
  min-height: 70px;
  z-index: -4;
}

.persistent-nav {
  #login {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #f25f5c;
    border: #f25f5c;
  }

  .form-control{
    width: 30%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
  }

  .form-control-fancy {
    width: 25%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
    height: 34px;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #ccc;
    transition: all 0.4s
  }

  .form-control-fancy:focus {
    outline: none;
    border-bottom: 3px solid #f25f5c;
  }
  .form-control-fancy::-webkit-input-placeholder {
    transition: all 0.4s;
    transform: translate(0px, 0px);
    opacity: 1;
  }
  .form-control-fancy:focus::-webkit-input-placeholder {
    transform: translate(0px, 34px);
    opacity: 0;
  }
  .login-container {
    display: block;
    margin-top: 10px
  }
  .login-buttons {
    position: absolute;
    left: 28px;
    top: 48px;
    width: 90%
  }
  .login-buttons .btn {
    margin: 0px 6px;
  }
  #inputConfirmPassword {
    display: none;
  }
  .form-error {
    color: #f25f5c;
    font-weight: 500;
    position: relative;
    top: 16px;
    left: 8px;
  }
  .nav-username {
    z-index: 5;
    overflow: hidden;
    display: inline-block;
    color: $red;
    border: 1px solid $red;
    border-radius: 10%;
    padding: 8px;
    position: relative;
    left: 10px;
    top: 10px;
    cursor: pointer;
    background: white;
  }
  .nav-username .fa-home {
    position: absolute;
    width: 100%;
    transform: translate(20%, -150%);
    transition: all 0.4s;
  }
  .nav-username-text {
    z-index: -99;
    display: inline-block;
    transform: translateY(0px);
    transition: all 0.4s;
  }
  .nav-username:hover .fa-home {
    transform: translate(20%, -4px);
  }
  .nav-username:hover .nav-username-text{
    transform: translateY(150%);
  }
  .logout-btn {
    z-index: 3;
    opacity: 0;
    color: $red;
    position: relative;
    left: 20px;
    top: 10px;
    transform: translateY(-30px);
    transition: all 0.4s;
    cursor: pointer;
  }
  .logout-btn.active {
    display: block;
    opacity: 1;
    transform: translateY(0px);
  }
}

.landing{

  #almari{
    margin-top: 15%;
    margin-bottom: 10%;
  }

  #alm{
    font-size: 6em;
    font-family: 'Mr De Haviland', cursive;
    color: #f25f5c;
  }

  #sub{
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    margin-top: -20px;
    font-weight: 700;
    color: #50514F;
  }

  .sec1{
    margin-right: -15px;
    margin-left: -15px; 
    padding-top: 1%;
    background-color: #f25f5c;
    color: white;
  }

  #toprow{
    margin-top: 5%;

  }
  .col-md-6{
    padding-top: 3em;
    padding-bottom: 2em;
  }
  #borrow{
    margin-top: 0;
    padding-bottom: 2em;
    border-right: 1px solid white;
  }
  .box{
    border: 1px solid white;
    padding:10px 15px;
    font-size: 1.5em;
    text-align: center;
  }

  .col-md-4{
    margin: 0 auto;
    float: none;

  }

  .btn:hover{
    color: #F1F5F2;
  }

  .icon{
    margin-bottom: 1.5em;
  }
}

.btnPrimary{
  border-radius: 0;
  background-color: $red;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 10px;
}
.btnOutline{
  border-radius: 0;
  border:1px solid $red;
  background-color: transparent;
  color: $red;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 10px;
}
.btnOutline:hover{
  background:$red;
}
#postDress{
  color:#333;
  overflow-x:hidden;
  .postPhoto{
    img{
      width:100%;
      min-height: 400px;
      background:#ccc;    

      @media (max-width: 768px) {
        min-height: auto;
        margin-bottom: 20px;
      }
    }
  }

  input{
    border:none;
    outline: none !important;
  }
  input:focus{
    border:none;
    outline: none !important;
  }
  
  .productNameHolder input{
    font-size: 1.5em;
  }
  .input{
    margin-bottom: 20px;
    input{
      padding:5px 0px;
      border-bottom: 1px solid #fff;
      @media (max-width: 768px) {
        padding:0px;
      }
    }
    input:focus{
      border-bottom: 1px solid #999;
    }

  }
  .productDetailsHolder{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    color:#777 !important;


    input{
      padding:5px;
      @media (max-width: 768px) {
        padding:5px 0px;
        margin-bottom: 10px;
      }
      border-bottom: 1px solid #fff;
    }
    input:focus{
      border-bottom: 1px solid #999;
    }
    input, .switch{
      display: inline-block;
      margin-right: 40px;
    }

    .switch{
      background:none;
      margin-left: 5px;
      border:transparent;
      @media (max-width: 768px) {
        width:120%;
        margin-left: 0;
        margin-bottom: 10px;
      }
      button{
        background: none;
        outline: none;
        border: none;
        border-right: 1px solid #777;
        width: 39px;
      }
      button:hover, button.active{
        background:#eee;
      }
      button.active{
        background:#ddd;
      }
      button:last-child{
        border:none;
      }
    }

    p{
      margin:0;
      text-transform: none;
    }
    textarea{
      width: 80%;
          font-size: 14px;
          padding: 20px;
          background-color: #eee;
          border: 0;
          font-weight: 400;
          color: #777;
          height: 114px;
    }
  }
  .Category{
    .switch{
      button{
        width:auto;
        padding:5px 10px;
        @media (max-width: 768px) {
          display:block;
          padding:5px 0;
          border:none;
          border-bottom: 1px solid #777;
          width:200px;
        }
      }
    }
  }
  .submit-product-error {
    color: $red;
    display: none;
    height: 30px;
    position: relative
  }
}

#borrow{
  padding-bottom: 80px;

  .question{
    h2{
      font-size: 1.5em;
      font-weight: 300;
      color:#333;
    }
  }
  .swatches{
    margin-top: 20px;
    .swatch{
      cursor: pointer;
      margin-bottom: 20px;

      img{
        width:100%;
        cursor: pointer;

      }
    }
  }
}

#borrowDresses{
  background:#f3f3f3;
  padding-bottom: 40px;
  min-height: 600px;

  .dresses{
    .dress{
      margin-top: 40px;


      img{
        width:100%;
      }
    }
    h5,h6{
      margin-bottom: 0;
    }
    h6{
      margin-top: 5px;
      margin-bottom: 5px;
    }
    p{
      text-align:center;
      margin:0;
    font-weight: 400;
    }
    .dressPrice{
      color:$red;
      position:relative;
    }
    .retail{
        color:#777;
        font-size: 0.7em;
        vertical-align: text-bottom;
      }
  }
}

.pageSelected{
  color:#fff !important;

  h2{
    color:#fff !important;
    text-transform: uppercase;
    font-weight: 800;
  }
  .swatch{
    -webkit-filter: grayscale(1);
    opacity: 0.8;
  }
  .swatch:hover{
    opacity:1;
  }

}

#pic {
   margin-left:20%; 
   float:left;
   margin-right: 5%;
   @media (max-width: 768px) {
    margin:auto;
    display:block;
    float:none;
   }
 } 

#prodname{
  color: $red;
  margin-left: 10%;
  font-family: 'Lora', serif;
}


.prodB{
  margin-left: 10%;
}
.productB{
  @media (max-width: 768px) {
    margin-left: 10%;
  }
}

.MiPrice{
  @media (max-width: 768px) {
    margin-left: 10%;
  }
}

.miButtons{
  
  @media (max-width: 768px) {
    margin-left: 10%;
    text-align: center;

    button{
      display:block;
      margin-top: 10px;
    }
  }
}

#description{
  margin-right: 10%;

  text-align: justify;
  @media (max-width: 768px) {
    margin-left: 10%;
  }
}

.submit-product-error {
  color: $red;
  display: none;
  height: 30px;   
  position: relative
}

.page_Formal{

}