<div class="container-fluid landing">
    
    <div id="almari">
      <center>
        <h1 id="alm">Almari</h1>
        <h2 id="sub">Elegant clothing. Delivered.</h2>
      </center>
    </div>

    <div class="sec1">

      <div class="row" id="toprow">
        <div class="col-md-6" id="borrow">
          <center>
            <img src="clothing285.png" class="icon">
            <p> Prom, party or wedding, but nothing to wear? <br> Your virtual wardrobe has some exotic clothing...</p>
            <div class="col-md-4 col-centered btn" type="button">
              <h3 class = "box" ng-click="borrow()">BORROW</h3>
            </div>
          </center>
        </div>
        <div class="col-md-6">
          <center>
            <img src="pricetag.png" class="icon">
            <p> Bought an expensive dress, but wore it only once? <br> Monetize your wardrobe </p>
              <div class="col-md-4 col-centered btn" type="button">
                <h3 class="box" ng-click="lend()">LEND</h3>
              </div>
            </center>
          </div>
        </div>
        <br><br>
      </div>
      <div id="sec2">
        <br>
        <br>
      </div>
</div>
